body
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: em(20px)
  line-height: 2rem
  color: $black1

a
  color: $red1
  text-decoration: none
  &:hover
    color: $red1 - #111

strong, b
  font-weight: bold

em, i
  font-style: italic

h1, h2
  font-size: 2rem
  line-height: 3rem
  color: black
  font-weight: 600

h3
  font-size: em(20px)
  font-weight: 600
  line-height: 3rem

h4
  font-weight: 600
  line-height: 3rem

p
  margin-bottom: 2rem
  &:last-child
    margin-bottom: 0

.text-align-right
  text-align: right

.text-align-left
  text-align: left

.button
  background: $red1
  padding: 0.5rem 1rem
  color: #fff
  +border-radius(5px)
  a
    color: #fff
  &:hover
    color: #fff
    background: $red1 + #111

blockquote
  p
    font-style: italic
    font-size: em(20px)
  cite
    font-size: em(20px)
    font-style: normal
    color: $black1 + #444

.center
  text-align: center

small
  font-size: 13px


// Link layout

.link
  h2
    font-size: 1.5rem
    color: $red1 + #666
    line-height: 2rem
    a
      border-bottom: 1px solid $gray1 - #202020
      font-size: 1.5rem
      &:hover
        border-bottom: 1px solid $red1

// Quote layout

.quote
  blockquote
    p
      font-size: 1.5rem
      line-height: 3rem
    cite
      font-size: 1rem
      font-weight: bold

// Syntax Highlighting

div.highlight
  +text-shadow(none)
  font-size: em(14px)
  background-color: #002B36
  padding: em(12px)
  // border: 1px solid $gray1 - #111
  margin: 3rem 0
  overflow: auto
  font-family: 'Bitstream Vera Sans Mono','Courier', monospace
