<div class="header">
  <div class="inner">
    <div class="logo left">
      <%= link_to raw("<i class='icon-heart'></i>"), admin_path %>
    </div>
    <nav class="main-nav right">
      <ul>
        <%# <li class="<%= current_page?(edit_user_registration_path) ? "active" : "inactive" %1>"><%= link_to "Settings", edit_user_registration_path %1></li> %>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      </ul>
    </nav>
    <div class="clear"></div>
  </div>
</div>
