<div class="header">
  <div class="wrapper">
    <div class="inner">
      <div class="logo left">
        <i class="icon-heart"></i>
      </div>
      <nav class="main-nav right">
        <ul>
          <li><%= link_to "Articles", admin_posts_path %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        </ul>
      </nav>
      <div class="clear"></div>
    </div>
  </div>
</div>
