<aside class="sidebar left">
  <div class="inner">
    <ul>
      <li class="<%= active_page?(admin_posts_path) %>">
        <%= link_to raw("<i class='icon-align-left'></i> Articles"), admin_posts_path %>
      </li>
    </ul>
  </div>
</aside>
