<div class="full-width-box">
  <div class="wrapper border-top">
    <div class="inner center">
      <p class="categories">
        I write about my
        <a href="/tags/startup">startup life</a>,
        <a href="/tags/productivity">productivity</a>,
        <a href="/tags/programming">programming</a>,
        <a href="/tags/music">music</a> and a lot of other things.
      </p>
    </div>
  </div>
</div>
