<div class="full-width-box sub-navigation articles-navigation">
  <div class="wrapper border-top">
    <div class="inner center">
      <div class="tags left">
        Tags: <%= raw @tags.map { |tag| link_to tag.name, tag_path(tag) }.join(", ") %>
      </div>
      <div class="archive right">
        <%= link_to "Archive", archive_path %>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
