.header-wrapper
  position: absolute

.header
  +text-shadow(none)
  color: $black
  width: 300px
  padding-top: 80px
  a
    color: $red

.header-logo
  width: 45px
  margin-top: 8px
  margin-right: 20px
  float: left
  a
    border-bottom: none
    color: $black
    &:hover
      // color: $black + #333
      color: $red
  .red
    color: $red
  img
    height: 45px

.header-content
  width: 220px
  float: right
  .slogan
    margin-bottom: 2rem

.navigation
  margin-bottom: 2rem
  a
    border-bottom: none
    font-weight: 400

.mc-signup
  padding-top: 2rem
  border-top: 1px solid $gray1 - #111

#mc_embed_signup
  margin-top: 1rem
  color: #fff
  +text-shadow(none)
  input, div
    display: inline-block
    color: #fff
    outline: none
  .left, .right
    padding: 5px 0
  input[type=email]
    padding: 0.333rem
    width: 170px
    font-size: 12px
    color: $black !important
    border: none
    border: 1px solid $gray1 - #111
  .button
    +border-radius(none)
    font-size: 12px
    border: 1px solid $red - #111
    background: $red
    padding: 0.333rem
    &:hover
      text-decoration: underline
      display: inline-block
  .wrapper
    padding: 1.5rem 0
  i
    color: $red
    font-size: 16px
    line-height: 8px
    display: inline-block

@media (max-width: 1070px)

  .header-wrapper
    position: relative

  .header
    width: 20%
    float: left
    padding-top: 40px

  .header-logo
    float: none
    margin: 0
    width: 100%
  .header-content
    width: 100%
    float: none
  #mc_embed_signup
    input[type=email]
      width: 60%
    input[type=submit]
      width: 25%

@media (max-width: 720px)

  .header-wrapper
    position: relative
  .header
    width: 100%
    float: none
    padding-top: 40px
    text-align: center
    border-bottom: 1px solid $gray1 - #111
  .header-logo
    float: none
    margin: 0
    width: 100%
  .header-content
    width: 100%
    float: none
  .navigation
    li
      display: inline-block
      margin: 0 10px
  .mc-signup
    display: none
