.header
  color: $black1 + #444
  line-height: 120px
  height: 120px
  z-index: 9999
  position: relative
  +text-shadow(none)
  .logo
    margin: 41px 0 40px 0
    line-height: 0
    a
      border-bottom: none
      color: $black1
      &:hover
        // color: $black1 + #333
        color: $red1
    .red
      color: $red1
    img
      height: 39px
  .navigation
    font-family: "proxima-nova",sans-serif
    li
      float: left
    .first a
      +border-left-radius(3px)
    .last a
      +border-right-radius(3px)
      border-right: 0
      margin-right: 10px
    .red a
      background: $red1
      +border-radius(3px)
      border-right: 0
      color: #fff
      padding: 13px 13px 12px 13px
      font-weight: 900
    a
      font-size: 12px
      border-bottom: none
      background: #fff
      +background(rgba(#fff, 0.9))
      color: $black1 + #333
      padding: 13px 22px 12px 22px
      margin-top: -5px
      text-transform: uppercase
      font-weight: 600
      border-right: 1px solid #eee
  a
    color: $black1 + #666
    border-bottom: 1px dashed $black1 + #666
    &:hover
      color: $black1 + #111

.signup-bar
  font-size: 13px
  // color: #fff
  color: $black1
  // background: $orange
  +text-shadow(none)
  #mc_embed_signup
    // margin-right: 20px
    input, div
      display: inline-block
      color: $black1
  .left
    // font-weight: 600
    padding: 5px 0
  .right
  input[type=email]
    padding: 6px
    width: 200px
    font-size: 12px
    border: none
    // border: 1px solid $gray1
    border: 1px solid $gray1 - #111
  .button
    font-size: 12px
    border: none
    background: none
    padding: 0
    &:hover
      text-decoration: underline
      display: inline-block
  .wrapper
    padding: 20px 0
    border-bottom: 1px solid $gray1 - #111
  i
    color: $red1
    font-size: 16px
    line-height: 8px
    display: inline-block

  // #remove-signup-bar
  //   position: absolute
  //   top: 10px
  //   right: 20px
  //   z-index: 9999
  //   color: #fff

@media (max-width: 1070px)
  .signup-bar
    // padding: 10px 0
    .left
      padding: 0 0 5px 0
    .left, .right
      float: none
