body
  background: white

.main
  padding: 80px 0
  width: 500px
  float: right

.box
  padding: 5rem 0

.box.gray
  background: #f4f4f4

.border-top
  border-top: 1px solid $gray1 - #111

.box-bottom
  margin-bottom: -1rem

.full-width
  width: 100%
  margin: 0 auto
  .wrapper
    .inner
      padding: 0 1.5rem

.full-width-box
  .wrapper
    padding: 5rem 0
    width: 100%
  .border-top
    border-top: 1px solid $gray1 - #111

.articles-navigation, .issues-navigation
  font-size: 12px
  line-height: 18px
  .wrapper
    padding: 1.5rem 0
  .left
    text-align: left
  .right
    text-align: right

.issues-navigation
  line-height: 2rem
  margin-bottom: 2rem

.full-width-image
  font-family: "proxima-nova", sans-serif
  text-transform: uppercase
  position: relative
  color: #fff
  font-weight: 900
  padding: 5rem 0
  +text-shadow(none)
  .slogan
    p
      font-size: 1.8rem
      line-height: 2rem
      font-weight: 600
      margin-bottom: 1.5rem
      +text-shadow(#000 0 0 50px)

// Home specific

// .full-width-home
//   // background: url("http://farm8.staticflickr.com/7267/8157218730_643b240f68_h.jpg") center center no-repeat
//   background: url(image_path("home.jpg")) no-repeat
//   margin-top: -120px
//   height: 600px
//   background-position: center center
//   background-size: cover
//   .slogan
//     padding: 160px 0 0 0
    // .hire-me
    //   font-size: 16px
    //   a
    //     color: white
    //     border-bottom: 2px dashed #fff
    //     &:hover
    //       color: $red
    //       border-bottom: 2px dashed $red

.full-width-work
  padding: 120px 0
  background: url("http://farm9.staticflickr.com/8467/8150313007_3739642a7e_h.jpg") center center no-repeat
  background-position: center -240px

.home
  h1,h2,h3
    font-family: "proxima-nova", sans-serif
    text-transform: uppercase
    font-size: 1.5rem
    font-weight: 900

.pagination
  font-size: 12px
  padding: 3rem 0
  text-align: center
  span a, .gap, .current
    padding: 0 14px
    display: inline-block
    margin-bottom: 5px
  .current, a:hover
    background: $red
    color: #fff

.fields
  line-height: 2rem
  font-weight: 600
  margin-bottom: 1.5rem
  +text-shadow(#000 0 0 50px)
  p, ul, li
    display: inline
    +float-left
  li
    position: absolute
    margin-left: 10px
    opacity: 0
    font-size: 1.8rem
  li.green
    color: $green
  li.blue
    color: $blue
  li.yellow
    color: $yellow1

.customers
  margin-top: 3rem
  text-align: center
  li
    margin: 1.5rem
    display: inline
    width: auto
  img
    max-width: 100%

@media (max-width: 1070px)

  .wrapper
    width: 100%

  .main
    width: 75%
    padding: 20px 0

@media (max-width: 720px)

  .wrapper
    width: 100%

  .main
    width: 100%
    float: none
    padding: 20px 0
