body
  background: white

.box
  padding: 80px 0

.box.gray
  background: #f4f4f4

.border-top
  border-top: 1px solid $gray1 - #111

.box-bottom
  margin-bottom: -12px

.full-width
  width: 100%
  margin: 0 auto
  .wrapper
    .inner
      padding: 0 20px

.full-width-box
  .wrapper
    padding: 80px 0
  .border-top
    border-top: 1px solid $gray1 - #111

.articles-navigation
  font-size: 12px
  line-height: 18px
  .wrapper
    padding: 20px 0
  .tags
    float: left
    text-align: left
  .archive
    float: right
    text-align: right

.full-width-image
  font-family: "proxima-nova", sans-serif
  text-transform: uppercase
  position: relative
  color: #fff
  font-weight: 900
  padding: 80px 0
  +text-shadow(none)
  .slogan
    p
      font-size: 28px
      line-height: 32px
      font-weight: 600
      margin-bottom: 20px
      +text-shadow(#000 0 0 50px)
      &:first-letter
        margin: 0

// Home specific

.full-width-home
  // background: url("http://farm8.staticflickr.com/7267/8157218730_643b240f68_h.jpg") center center no-repeat
  background: url(image_path("home.jpg")) no-repeat
  margin-top: -120px
  height: 600px
  background-position: center center
  background-size: cover
  .slogan
    padding: 160px 0 0 0
    // .hire-me
    //   font-size: 16px
    //   a
    //     color: white
    //     border-bottom: 2px dashed #fff
    //     &:hover
    //       color: $red1
    //       border-bottom: 2px dashed $red1

.full-width-work
  padding: 120px 0
  background: url("http://farm9.staticflickr.com/8467/8150313007_3739642a7e_h.jpg") center center no-repeat
  background-position: center -240px

.home
  h1,h2,h3
    font-family: "proxima-nova", sans-serif
    text-transform: uppercase
    font-size: 24px
    font-weight: 900

.home-quote
  margin-top: 80px

.pagination
  border-top: 1px solid $gray1 - #111
  font-size: 12px
  padding: 48px 0
  text-align: center
  span a, .gap, .current
    padding: 4px 12px
  .current, a:hover
    background: $red1
    color: #fff
    +text-shadow($black1 0 1px 1px)
    +border-radius(3px)

.fields
  margin-bottom: 20px
  line-height: 32px
  font-weight: 600
  margin-bottom: 20px
  +text-shadow(#000 0 0 50px)
  p, ul, li
    display: inline
    +float-left
  li
    position: absolute
    margin-left: 10px
    opacity: 0
    font-size: 28px
  li.green
    color: $green
  li.blue
    color: $blue
  li.yellow
    color: $yellow1

.customers
  margin-top: 40px
  text-align: center
  li
    margin: 20px
    display: inline
    width: auto

@media (max-width: 1070px)

  .full-width
    .wrapper
      width: 100%
      .inner
        padding: 0 40px

    .full-width-home
      height: 400px
      padding: 200px 0 40px 0
      background-position: center center
      background-size: cover
      .slogan
        padding: 0px 0 0 0

    .pagination
      padding: 35px 0
      width: 100%

@media (max-width: 720px)

  .header .wrapper .navigation li
    &:nth-child(2) a
      margin-right: 5px
    &:last-child a, a
      padding: 8px 12px 7px 12px
      font-size: 10px

  .full-width-box
    .categories
      width: 100%

  .pagination
    padding: 30px 0
    .extended
      display: none
    font-size: 13px

  .full-width
    .full-width-image
      p, li
        font-size: 18px
        line-height: 20px
      .button
        font-size: 16px
    .full-width-home
      height: 160px
      background-position: center center
      background-size: cover
      .slogan
        padding: 30px 0 0 0
        p
          margin-bottom: 10px

  .column
    width: 100%
    blockquote
      margin-bottom: 20px

  .articles-navigation
    .tags, .archive
      float: none
      text-align: left
      display: block
    .archive
      margin-top: 20px
