<div class="full-width-image full-width-home">
  <div class="wrapper">
    <div class="inner">
      <div class="slogan">
        <p>
          Hey, I'm Daniel<br />
          a passionate web developer<br />
          who is available for hire
        </p>
        <%# <div class="hire-me"> %>
        <%#   <%= link_to "hire me", mailto: "daniel@codegestalt.com" %1> %>
        <%# </div> %>
      </div>
    </div>
  </div>
</div>

<div class="wrapper home">
  <div class="inner">
    <div class="column left">
      <h1>Who?</h1>
      <p>
        I'm a swiss web developer with a weakness for
        design and typography. In 2011 I cofounded
        <a href="http://codegestalt.com">Codegestalt</a>
        with two geeks I've met over Twitter. Since then
        we realized several projects together.
      </p>
      <p>
        My free time is sacrificed to improve my <a href="http://flickr.com/photos/danielpuglisi">photography skills</a> and
        to extend my film and book horizon. You can find some recommendations <a href="/recommendations.html">here</a>.
      </p>
      <p>
        I do and like a lot of other stuff, but I'm afraid those things are only half as interesting as the things you just read. But if you would like to hear more of it anyway, read on or <a href="mailto:daniel@codegestalt.com">contact me</a>.
      </p>
    </div>

    <div class="column right">
      <blockquote class="home-quote">
        <p>"The best reason to start an organization is to make meaning – to create a product or service to make the world a better place.”</p>
        <p><cite>- Guy Kawasaki</cite></p>
      </blockquote>
    </div>
    <div class="clear"></div>

    <div class="column right">
      <h1>What?</h1>
      <p>
        I've been designing and building web sites for over six years now & counting.
        When the sun is up I'm working for clients and when the sun is down I'm working
        on Codegestalt and personal projects like <a href="http://kreatify.com">Kreatify</a> &
        <a href="http://bridgetalks.ch">Bridge</a>.
      </p>
      <p>
        If you're interested in what I've done so far, switch over
        to the <a href="/work.html">work</a> page. Also I feel the urge to
        open up myself from time to time, which outputs
        in a more or less useful blog post which you'll find in the <a href="/blog">articles</a> section.
      <p>
    </div>

    <div class="column left">
      <blockquote class="home-quote">
        <p>
          "Choose a job that you like, and you will never have to work a day in your life."
        </p>
        <p><cite>- Confucius</cite></p>
      </blockquote>
    </div>
    <div class="clear"></div>

    <div class="column left">
      <h1>Why?</h1>
      <p>
        Since learning new stuff is essential in life and makes a lot of fun, I'm constantly pushing myself to new heights.
        I love to experiment with new things and always try to redefine myself. Sometimes with a combination of old and new things.
      </p>
      <p>
        Knowing certain things doesn't just come to you, you have to earn it yourself with constant effort and by always taking the next step.
        I love that feeling when that *click* happens and suddenly everything turns from blur to high definition.
      </p>
      <p>
        I can't get enough of building and creating stuff.
        So if you like what I do and need someone to help you,
        don't be shy and <a href="mailto:daniel@codegestalt.com">contact me</a>.
        I would love to help you <i class="icon-heart"></i>
      </p>
    </div>

    <div class="column right">
      <blockquote class="home-quote">
        <p>
          "At times of change, the learners are the ones who will inherit the world, while the knowers will be beautifully prepared for a world which no longer exists."
        </p>
        <p><cite>- Alistar Smith</cite></p>
      </blockquote>
    </div>
    <div class="clear"></div>
  </div>
</div>
