<div class="full-width-box subscription">
  <div class="wrapper border-top">

    <header>
      <h1 class="center">
        Just one more step...
      </h1>
    </header>

    <div class="column">

      <h2 class="subtitle center">
        You need to do one more thing before I can give
        you access to the subscriber-only Friday is Webday
        link collection and the weekly email issues:
      </h2>

      <div class="box center">
        <b>You must click the link in the confirmation email I just sent you.</b>
      </div>

      <ul>
        <li>Look for an email titled "<b>Friday is Webday: Please Confirm Subscription</b>".</li>
        <li>If you don’t see the email within about 10 minutes, check your spam filter.</li>
        <li>You might also want to add <b><%= mail_to "news@puglisi.ch" %></b> to your list of “safe senders” in your email program. This will ensure my updates don’t end up in a darn spam filter.</li>
        <li>After confirming, you’ll get instant access to the link collection and the weekly email issues.</li>
      </ul>

    </div>

  </div>
</div>
