<article class="post">
  <header>
    <h2>Friday is Webday Issue #<%= @issue.number %></h2>
    <div class="meta">
      <%= @issue.published_at.strftime("%B %d, %Y") %>
    </div>
  </header>
  <%= markdown(liquidize(@issue.body)) %>
  <%= render "posts/footer" %>
</article>
