<div class="footer">
  <div class="wrapper">
    <fieldset>
      <legend align="center"><i class="icon-heart"></i></legend>
    </fieldset>
    <div class="center">
      <p>Handcrafted with a lot of love and passion by Daniel Puglisi</p>
      <p class="social">
        <%= link_to fa_icon("twitter"), "http://twitter.com/danielpuglisi" %>
        <%= link_to fa_icon("dribbble"), "http://dribbble.com/danielpuglisi" %>
        <%= link_to fa_icon("github"), "http://github.com/danielpuglisi" %>
        <%= link_to fa_icon("flickr"), "http://flickr.com/photos/danielpuglisi" %>
      </p>
    </div>
  </div>
</div>
