// http://www.colourlovers.com/palette/1307039/friend
$red1: #eb7171
$red2: #EA8676
$yellow1: #EAB05E
$yellow2: #FDEECD
$brown1: #493831
$gray1: #f9f9f9
$black1: #333
$blue: #18a1cb
$green: #76cc1e
$yellow: #fdca49 - #070707
$purple: #65327b
$turkis: #11baac
$orange: #ffbc11 - #070707

$default-font-size: 16px

@function em($target, $context: $default-font-size)
  @return ($target / $context) * 1em
