<article class="link">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2><%= link_to raw(post.title), post.external_link %> &rarr;</h2>
        <%= render "posts/meta", post: post %>
      </header>
      <%= markdown(post.content) %>
    </div>
  </div>
</article>
