<article class="post">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2><%= @post.title %></h2>
        <div class="meta">
          <%= @post.published_at %>
          <%= @post.tags.map { |t| t.title }.join(", ") %>
        </div>
      </header>
      <%= markdown(@post.content) %>
    </div>
  </div>
</article>
