<div class="footer">
  <div class="wrapper">
    <fieldset>
      <legend>&hearts;</legend>
    </fieldset>
    <div class="center">
      Handcrafted with a lot of love and passion by Daniel Puglisi
    </div>
  </div>
</div>
