<section class="header">
  <div class="wrapper">
    <div class="inner">
      <div class="logo left">
        <%= link_to root_path, class: "domain" do %>
          <span class="red"><i class="icon-heart"></i></span>
        <% end %>
      </div>

      <div class="navigation right">
        <ul>
          <li class="first"><%= link_to "Work", work_path %></li>
          <li class="last"><%= link_to "Articles", articles_path %></li>
          <li class="red"><%= mail_to "daniel@codegestalt.com", raw("<i class='icon-envelope-alt'></i>"), encode: "javascript" %></li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</section>
