<section class="header">
  <div class="wrapper">
    <div class="inner">
      <div class="logo left">
        <a href="/" class="domain"><span class="red">&hearts;</span></a>
      </div>

      <div class="navigation right">
        <ul>
          <li><a href="/work.html">Work</a></li>
          <li><a href="/blog">Articles</a></li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</section>
