<section class="header">
  <div class="wrapper">
    <div class="inner">
      <div class="logo left">
        <%= link_to root_path, class: "domain" do %>
          <span class="red">&hearts;</span>
        <% end %>
      </div>

      <div class="navigation right">
        <ul>
          <li><%= link_to "Work", work_path %></li>
          <li><%= link_to "Articles", articles_path %></li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</section>
